{% extends "layout_vertical.html" %}

{% load crispy_forms_tags %}

{% block title %}Cambiar Password{% endblock title %}

{% block page_title %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="mb-0 fw-semibold">Cambiar Password: {{ target_user.email }}</h4>
            <ol class="breadcrumb mb-0">
                <li class="breadcrumb-item"><a href="javascript: void(0);">Configuración</a></li>
                <li class="breadcrumb-item"><a href="{% url 'users:list' %}">Usuarios</a></li>
                <li class="breadcrumb-item active">Password</li>
            </ol>
        </div>
    </div>
</div>
{% endblock %}

{% block page_content %}
<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-header">
                <h5 class="card-title mb-0">Formulario de Password</h5>
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <div class="mt-4">
                        <button type="submit" class="btn btn-primary">Cambiar Password</button>
                        <a href="{% url 'users:list' %}" class="btn btn-light ms-2">Cancelar</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
