{% load static i18n %}

<!-- Title Meta -->
<meta charset="utf-8" />
<title>{{ title }} | Dispensador APP</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="description"
  content="Sistema automatizado para la dispensación de medicamentos en hospitales, utilizando tecnologías como Arduino, Raspberry Pi y sensores para garantizar una administración precisa y segura." />
<meta name="author" content="Techzaa" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- App favicon -->
<link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />